<section class="testimonial padding-top-50 padding-bottom-50">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" style="
        margin-top: 15%;
    "> 
          

          
            <div class="testi-in"> <i class="fa fa-quote-left"></i>
              <p><%- settingConfig.about %></p>
              <h5>Julius.</h5>
            </div>
            
           
        
        </div>
        
        <!-- Img -->
        <div class="col-sm-6"> <img class="img-responsive" src="pavshop/images/mario.png" alt=""> </div>
        
      </div>
    </div>
  </section>