  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" style="background: url(<%= banner.avatar %>) no-repeat;" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4 style="
        color: white;
        font-size: 45px;
        background-color: #2d3a4b;
        padding: 20px;
        display: inline-block;
        border-radius: 30px;
    "><%= banner.name %></h4>
        <p></p>
        <ol class="breadcrumb">
          <li><a href="sales/" style="
            font-size: 15px;
        ">Trang chủ</a></li>
          
        </ol>
      </div>
    </div>
  </section>
  