<% include ./../helpers/show-menu-user %>
<% 
const linkLogin = systemConfig.prefixBlog + `/auth/login`;
%>

<div id="navarea">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav custom_nav">
            <li class=""><a href="/">Home</a></li>
            <li class="dropdown"> <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Category</a>
              <ul class="dropdown-menu" role="menu">
                  <% itemsCategory.forEach((category) => { %>  
                      <li>
                          <a href="/category/<%= category.id %>"><%= category.name %></a>
                      </li>
                  <%})%>
              
              </ul>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/rss">General News</a></li>
            <%- showMenuUser(userInfo) %>
          </ul>
        </div>
      </div>
    </nav>
  </div>


