<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
	  <div class="error_page_content">
		<h1 style="color: dimgray;">404</h1>
		<h2>Xin lỗi! :(</h2>
		<h3>Có vẻ như trang này không tồn tại.</h3>
		<p class="wow fadeInLeftBig" style="float: none;">Xin hãy quay lại <a href="/">Trang chủ</a> của tôi</p>
	  </div>
	</div>
  </div>